.products-grid {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FAFAFA;
    width: 100vw;
    min-height: 100vh;
}


.options-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.information-container {
    height: 35px;
}
