.navbar {
    background-color: #ffffff;
    width: 100%;
    height: 90px;
    color: rgb(0, 0, 0);
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar .logo {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 60%;
    height: 55%;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border: 5px solid #000000
}

.navbar .logo span {
    font-size: 12px;
    font-weight: bold;
    color: #000000
}

.links {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80%;
    align-items: center;


}

.links a {
    color: rgb(0, 0, 0) !important;
    text-decoration: none;
    transition: .3s;
    margin-right: 20px;
    cursor: pointer;
}

.links a:hover {
    text-decoration: underline;
}

.cart{
    display: inline-flex;
    align-items: center;
}

.cart a{
    color: rgb(0, 0, 0) !important;
}