.navbar {
    background-color: #DE3A3B;
    width: 100%;
    height: 90px;
    color: white;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar .logo {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EEE7ED;
    border-radius: 60%;
    height: 55%;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border: 3px dotted #40596B
}

.navbar .logo span {
    font-size: 12px;
    font-weight: bold;
    color: #DA555D
}

.links {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    align-items: center;


}

.links a {
    color: white !important;
    text-decoration: none;
    transition: .3s;
}

.links a:hover {
    text-decoration: underline;
}