.product-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(246, 242, 236);
    width: 100vw;
    min-height: 100vh;
}