html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFAFA;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 8px; 
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}


body::-moz-scrollbar {
  width: 8px;
}

body::-moz-scrollbar-thumb {
  background-color: #000000; 
}

body::-webkit-scrollbar:hover {
  background-color: #000000; 
}