
.banner-container {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 10px;
    padding-top: 70px;
}


#banner {
    width: 70%;
    padding: 20px;
}